@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{    
    font-family: 'Architects Daughter';
    background-color: black;
    color: white;
    font-size: 1.6rem; 
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;  
}

.bmthMenu li {
	display: inline-block;
	width: 11%;
	position: relative;
	font-size: 30px;
	color: black;
}

.bmthMenu ul li a:hover {
	color: red;
	padding: 0.1em;
 }

/*Header----------------------------*/
.bmthMenu{
    background-color: #0FFC90;
    padding: 0 1rem;
}

.bmthMenu img{
    width: 9rem;
}

/*Footer-----------------------*/

.btnSuscribe button{
    font-size: 1.2rem;
    background-color: #E6D402;
    color: black;
}

.sizeInput input{
    font-size: 1.4rem;
}

.sizeInput textarea{
    font-size: 1.44rem;
}

.socialMedia img{
    width: 3rem;
    height: 3rem;;
}

.bmthCopyright{
    font-size: .9rem;
}

/*Home------------------------------------------------------------------*/
/*Cover page-----------------------*/
.coverPage{
    height: 60rem;
    background-image: url(../media/images/bring-me-the-horizon.jpg);
    background-repeat: no-repeat;
}

.coverPage h1{
    color: white;
    text-align: left;
    font-size: 8rem;
    line-height: 1.1;
    padding-top: 3rem;    
}

/*Last album----------------------*/
.lastAlbum{
    padding: 2rem;
    background-color: #FE4503;
    color: #E6D402;
}

.albumSize img{
    width: 30rem;
}

/*button for buys/change direction in dark fonts---------------------*/
.btnDarkFont{
    padding: 2rem;
    margin: 2rem 0;
}

.btnDarkFont a{
    font-family: 'Architects Daughter', cursive;
	background-color: #E6D402;
	color: black;
	font-weight: 700;
	border: 5px;
	text-decoration: none;
    padding: .4rem;
    margin: .7rem;
    border-radius: .5em;
}

.btnDarkFont a:hover{
    font-family: 'Architects Daughter', cursive;
	background-color: white;
	color: black;
	font-weight: 700;
	border: 5px;
	text-decoration: none;
    padding: .8rem;
    margin: .8rem;
    border-radius: .5em;
}

/*News--------------------------*/
.bmthNews{
    padding: 2rem;
    background-color: #E6D402;
    color: black;
    text-justify: auto;
}

.updateSize img{
    height: 30rem;
}

.textDecoration a{
    text-decoration-color: #550606;
    text-decoration-line: underline;
    padding: .4rem;
    margin: .7rem;
}

.textDecoration a:hover{
    color: white;
    text-decoration-color: white;
    text-decoration-line: underline;
    font-size: 2rem;
}

/*Contact us--------------------------*/
.sizeInput img{
    width: 40rem;
}

.sizeInput{
    padding: 2rem;
}

.socialMedia{
    padding: 2rem;
}

.bmthCopyright{
    padding: 2rem;
}