h1{
    color: white;
}

.bmth-menu nav a:link, a:visited, a:active{
    text-decoration: None;
    color: black;
}

.last-album td{
    color: #E6D402;
}

.next-live h3{
    color: #000000;
}

.suscribe-form {
    color: #E6D402
}
.social-media p{
    color: white;
}

.bmth-menu{
    background-color: #0FFC90;
}

.last-album{
    background-color: #FE4503;
}

.next-live {
    background-color: #E6D402
}

.social-media{
    background-color: black;
}

main{
    background-color: black;
}
