h1{
    color: red;
}

section article{
    background-color: #CCCCCC;
    width: 500px;
    height: 500px;
}

section{
    padding: 50px 30px 20px 60px;
    margin-left: 40px;
}

section article{
    background-color: #CCCCCC;
    width: 500px;
    height: 500px;
}

section article p{
    line-height: 4;
}

#multimedia{
    background-color: pink;
}