@import "colors";

.btn{
    display: inline-block;
    padding: .2em .5em;
    border-radius: 2em;
    cursor: pointer;
    letter-spacing: .2em;
    margin-bottom: 1rem;
    margin-top: 1rem;

    &__primary{
        color: $clr-primary;
        background: $clr-yellow;
        font-weight: 700;
    }   
    
    &__line{
        color: $clr-yellow;
        background: transparent;
        text-decoration-line: underline;
    }
}



