.contact{
    &-image{
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    &-content{
        &-box{
            width: 20rem;
            margin-bottom: 1rem;
            text-align: center;
        }
    }
}