/* variables del navbar de bootstrap /|\ se debe tener instalado bootstrap en node_modules /|\*/
$navbar-dark-color: #11554ddc;
$navbar-dark-active-color: #1a8377c4;
$navbar-dark-hover-color: #ffffff;

/* importacion de todos los scss con sus debidas carpetas en orden jerarquico*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./base/variables", "./base/reset", "./base/typography", "./base/utilities";
@import "./components/buttons", "./components/form", "./components/hero", "./components/carousel";
@import "./layout/header", "./layout/footer", "./layout/body";
@import "./pages/home", "./pages/live", "./pages/music", "./pages/updates", "./pages/contact";