/* modificaciones del carousel para mostrar enlaces */
#carouselExampleFade {
	padding-top: 4.3rem;
}

.carousel-item {
	h2 {
		text-shadow: 0.1em 0.1em 0.1em rgb(88, 0, 0);
	}
	a {
		display: none;
	}
	&:hover {
		h2 {
			display: none;
		}
		a {
			display: block;
		}
	}
}

@media (min-width: 1024px) {
	#carouselExampleFade {
		padding-top: 8rem;
	}
}
