/* el hero de la pagina principal con responsive */
.hero {
    margin: unset;
    height: calc(100vh - 52.328px);
    background: url("../media/images/bring-me-the-horizon.jpg") no-repeat center/cover;

    display: grid;
    place-content: center;

    &-title {
        color: $clr-light-green;
        font-size: 3rem;
        line-height: 1.1;
        text-shadow: 3px 3px 7px #000000;
    }
}

@media (min-width: 580px) {
    .hero{
        height: calc(100vh - 94.203);
        &-title{
            font-size: 4rem;
        }
    }
}

@media (min-width: 1080px) {
        .hero{
            &-title{
                font-size: 6rem;
        }
}
}

