/* Operaciones */
.box_uno {
  background-color: blue;
  width: 360px;
  padding: 15px; }

.box_dos {
  background-color: green;
  width: 310px;
  padding: 20px; }

/* Condicionales */
p {
  color: blue; }

/*
p {
    @if $temperatura < 40 {
        color: yellow;
    } @else if $temperatura < 60 {
        color: orange;
    } @else if ($temperatura <= 100) {
        color: red;
    } @else {
        color: black;
    }
}*/
/* Bucles */
.casitodos-1 {
  background-color: lightgray;
  width: 100px; }

.casitodos-2 {
  background-color: lightgray;
  width: 200px; }

.casitodos-3 {
  background-color: lightgray;
  width: 300px; }

/*
$vueltas: 6;
@for $i from 1 through $vueltas {
    .casitodos-1 {
        background-color: lightgray;
        width: 100px * $i;
    }
}*/
/* Each */
.puma-fondo {
  width: 640px;
  height: 320px;
  background-image: url("../images/puma.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.tigre-fondo {
  width: 640px;
  height: 320px;
  background-image: url("../images/tigre.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.pantera-fondo {
  width: 640px;
  height: 320px;
  background-image: url("../images/pantera.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

/*
$lista: puma, tigre, pantera;
@each $animal in $lista {
    .gato-fondo {
        width: $dimension * 2;
        height: $dimension;
        background-image: url("../images/gato.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}*/
/* Maps */
.btn-twitter {
  background-color: #55acee; }

.btn-facebook {
  background-color: #3a5795; }

.btn-sendmail {
  background-color: #c25E30; }

.color1 {
  color: #333333; }

.color2 {
  color: #666666; }

.color3 {
  color: #999999; }

/* Extend */
.red_social, .red_social--nueva {
  border: 1px solid #333333;
  background-color: #CCCCCC;
  padding: 20px;
  font-size: 22px;
  font-weight: bold; }

.red_social--nueva {
  border-width: 3px; }

.caja, .mi_estilo {
  color: #333333;
  background-color: lightblue;
  padding: 10px;
  text-transform: uppercase; }

.borde, .mi_estilo {
  border: 2px dotted #666666; }

.mi_estilo {
  word-spacing: 4px;
  letter-spacing: 3px; }

.ejemplo1, .espacio, .box, .ejemplo2 {
  color: #c25E30;
  background-color: aquamarine;
  font-size: 40px; }

/* Mixins */
.espacio, .box {
  padding: 5px; }

.box {
  width: 200px;
  height: 10px;
  font-size: 22px;
  color: green;
  background-color: brown; }
