/* variables con colores tamaños y tipos de letras */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Space+Mono&display=swap");

$font-heading: "Nanum Gothic Coding", monospace;
$font-body: "Space Mono", monospace;

$clr-pink: #e6cfe6;
$clr-light-yellow: #d7e6cf;
$clr-yellow: #e0ff00;
$clr-yellow: #ffcf0d;
$clr-light-pink: #e6e6e6;
$clr-light-green: #cfe6e2;
$clr-primary: #0e0e0e;
$clr-light-blue: #0093e9;

$img-width: 5rem;
