/* diseño de pagina de contact */

.contact{
		margin: unset;
		height: calc(100vh - 52.328px);
        display: grid;
		place-content: center;

        input,textarea {
            width: 200px;
            font-size: 12px;
            transition: all .5s;
            margin-bottom: 1rem;
            &:focus {
                width: 250px;
                font-size: 16px;
                border:1px solid #000000;
            }
        }
        
}

@media (min-width: 580px) {
    .contact{
        height: calc(100vh - 94.203);
        h1{
            font-size: 3.5rem;
        }
        input,textarea {
            width: 300px;
            &:focus {
                width: 350px;
            }
        }
    }    
}

@media (min-width: 1020px) {
    .contact{
		background: url("../media/images/bmth-concert.jpg") no-repeat center/cover;
        place-content: unset;
		place-content: left;
        h1{            
            text-align: left;
            margin-left: 25vw;
        }
        input,textarea{            
            display: grid;
            place-content: left;
            margin-left: 24vw;
        }
    }    
}