/* diseño de pagina de index */
.ad {
	max-width: 500px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	padding: 1em;
	color: white;
	margin: 50px auto;

	&:nth-of-type(1) {
		border-bottom: 1px solid $clr-yellow;
	}

	&:nth-of-type(2) {
		border-bottom: 1px solid $clr-pink;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	header {
		all: unset;
		min-height: 110px;
	}

	footer {
		all: unset;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		gap: 1em;
		min-height: 100px;
	}

	main {
		flex: 1;
		padding: 1em;
		border: 4px solid $clr-yellow;
	}
}

.album {
	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
    	to {
			transform: rotate(360deg);
		}
	}
	@-webkit-keyframes rotate {
		from {
			-webkit-transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg);
		}
	}
	ol {
		padding-left: 0;
	}

	li {
		list-style-position: inside;
	}
	&-hit {
		color: $clr-yellow;
		img{				
			-webkit-animation: 3s rotate linear infinite;
			animation: 3s rotate linear infinite;
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}	
	}
}

.news{
	ul{		
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		padding: 1em;
		li{
			border: 1px solid $clr-pink;
			border-top-left-radius: 1.5rem;
			border-bottom-right-radius: 1.5rem;
			padding: 1rem;
			margin-bottom: 2rem;
		}
	}
}

@media (min-width: 1024px) {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		justify-items: center;
		gap: 0;
		grid-auto-flow: row;
		grid-template-areas:
			"last-album  next-live"
			"news        news";
	}
	.last-album {
		grid-area: last-album;
	}
	.next-live {
		grid-area: next-live;
	}
	.news {
		grid-area: news;
	}

	.news{
		ul{
			li{
				width: 50vw;
				p{					
					width: 25vw;
					margin: 1rem auto;
				}
			}
		}
	}
}
