/* diseño de pagina de updates */
.updates {
	display: grid;
	place-content: center;
	padding: 3em 0;

	h1 {
		margin-bottom: 1em;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 1em;

		li {
			border: 1px solid orange;
			display: flex;
			flex-flow: column wrap;
			justify-content: space-between;
			gap: 0.5em;
			max-width: 400px;
			min-height: 250px;
			box-sizing: content-box;
			padding: 2em;
			margin-right: 1.5rem;
		}

		h2,
		p {
			margin: unset;
		}

		iframe {
			aspect-ratio: 2/1;
			width: 100%;
			height: auto;
		}
	}
}

@media (min-width: 1011px) {
	.updates {
		ul{
			li{margin-right: unset}
		}
	}
}